name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: "Node ${{ matrix.node_version }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node_version: ["lts/*", "latest"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          check-latest: true

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test:ci
